{% markdown %}
Get in touch!

#### Email

<form method="POST" target="_blank" action="https://formspree.io/shinghos@mit.edu">
  <input class="spaced" type="email" name="email" placeholder="Your email">
  <br>
  <textarea class="spaced" name="message" placeholder="Message"></textarea>
  <br>
  <button class="" type="submit">Send</button>
</form>


#### Physical

I love receiving (and sending) letters and postcards! Please address to

> Maseeh Hall 5017

> Massachusetts Institute of Technology

> 305 Memorial Drive

> Cambridge MA 02139

> USA

{% endmarkdown %}

<style>
  .spaced {
    margin-top: 3pt;
    margin-bottom: 10pt;
  }
</style>